.foto{
    width: 20rem;
    height: 24rem;
    margin-top: 1rem;
}


@media screen and (max-width: 2600px) {

    .foto{
        width: 25rem;
        height: 28rem;
        margin-top: 0rem;
    }
}


@media screen and (max-width: 1900px) {

    .foto{
        width: 20rem;
        height: 26rem;
        margin-top: 0rem;
    }
}




@media screen and (max-width: 1400px) {

    .foto{
        width: 15rem;
        height: 15rem;
        margin-top: 0rem;
    }

}


@media screen and (max-width: 1200px) {
    .foto{
        width: 15rem;
        height: 18rem;
        margin-top: 0rem;
    }

}


@media screen and (max-width: 980px) {
    .foto{
        width: 13rem;
        height: 15rem;
        margin-top: 0rem;
    }

}

@media screen and (max-width: 800px) {
    .foto{
        visibility: hidden;
    }

}