.foto{
    width: 20rem;
    height: 24rem;
    margin-top: 1rem;
    margin-left: -2rem;
}



.tooltip{
    color: black;
    font-family: 'PT Sans', sans-serif;
}

.icon{
    margin: 0 10px;
    margin-top: 5px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.icon span{
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    border-radius: 50%;
    /* background-color: rgb(233, 233, 233); */
    /* color: black; */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    position: relative;
    z-index: 2;
}

 .span .gmail{
    position: absolute;
    top:10px;
    right: 8px;
}

.span .github{
    position: absolute;
    top:10px;
    right: 8px;
}



.wrapper .icon .tooltip{
    background-color: #398181f6;
    font-size: 18px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 25px;
    position: absolute;
    top: 0px;
    cursor: none;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}


.wrapper .icon:hover .tooltip{
    top: -40px;
    pointer-events: auto;
    opacity: 1;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: 15px;
}


.wrapper .icon .tooltip:before{ 
    position: absolute;
    content:"";
    height: 10px;
    width: 10px;
    background-color: #398181f6;
    top: 22px;
    left: 45%;
    transform: translateX(-50%) rotate(48deg);

    /* ACA HAGO EL PIQUITO DE LA BURBUJA DE DIALOGO */

}


.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    box-shadow: 4px 4px 6px #447373f1 ;
}

.wrapper .icon span,
.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip:before{
    background-color: #398181f6;
}