.extras {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    height: 3rem;
    width: 7rem;
    align-items: center;
}


.img {
    position: absolute;
    top: 11rem;
    right: 5rem;
    width: 32rem;
    height: 25rem;
}

.video {
    position: absolute;
    top: 6rem;
    right: 6rem;
    width: 30rem;
    height: 30rem;
    z-index: 10;
}

.fondoImagen {
    position: absolute;
    top: 11rem;
    right: 5rem;
    width: 32rem;
    height: 25rem;
    opacity: 0.5;
    z-index: 8;
}



@media screen and (max-width: 2600px) {



    .img {
        position: absolute;
        top: 11rem;
        right: 5rem;
        width: 32rem;
        height: 25rem;
    }

    .video {
        position: absolute;
        top: 6rem;
        right: 6rem;
        width: 30rem;
        height: 30rem;
        z-index: 10;
    }

    .fondoImagen {
        position: absolute;
        top: 11rem;
        right: 5rem;
        width: 32rem;
        height: 25rem;
        opacity: 0.5;
        z-index: 8;
    }


}



@media screen and (max-width: 1400px) {


    .img {
        position: absolute;
        top: 11rem;
        right: 1rem;
        width: 23rem;
        height: 21rem;
    }

    .video {
        position: absolute;
        top: 4.5rem;
        right: 2rem;
        width: 21rem;
        /* height: 30rem; */
        z-index: 10;
    }

    .fondoImagen {
        position: absolute;
        top: 11rem;
        right: 1rem;
        width: 23rem;
        height: 21rem;
        opacity: 0.5;
        z-index: 8;
    }


}


@media screen and (max-width: 980px) {

    .video {
        display: none;
        visibility: hidden;
    }

    .img {
        display: none;
        visibility: hidden;
    }

    .fondoImagen {
        display: none;
        visibility: hidden;
    }

}