.proyects {
    width: 30rem;
    margin: 1rem;
    height: 30rem;
    border-style: solid;
    border-width: 4px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .proyects img {
    width: 100%;
    height: 60%;
  }
  
  .proyectsInfo {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .h3 {
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 0.5rem !important;
  }
  
  .proyectsInfo span {
    width: 80%;
    height: 40%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .button{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    width: 40%;
    height: 30%;
    margin-bottom: 0.5rem;
  }

  .overview {
    padding: 2rem;
    position: absolute;
    font-weight: bold;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
  }
  
  .proyects:hover .overview {
    /* background-color: black; */
    transform: translateY(0) !important;
    text-align: center;
  }

  .proyects:hover .button {
    display: none;
  }
